* {
    font-family: 'Quicksand', sans-serif;
}


footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    background-color: #2B2D42;
    color: #EDF2F4;
    font-size: 20px;
}

footer div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10%;
}

footer p {
    padding-left: 1%;
}

a:link, a:visited {
    padding: 0 5%;
    color: #EDF2F4;
    text-decoration: none;
}

a:hover {
    color: #8D99AE;
}

