body {
    margin: 0px;
}

header {
    display: flex;
    align-items: center;
    font-family: "Inter Bold", sans-serif;
    color: #EDF2F4;
    background-color: #2B2D42;
    padding: 10px;
}

h1 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    margin-left: 2%;
}

img {
    padding-left: 1%;
    max-width: 100%;
    height: auto;
    width: 5%;
}
