body{
    margin: 0px;
}
header{
    display: flex;
    flex-direction: flex-start;
    font-family: inter bold;
    color: #EDF2F4;
    background-color:#2B2D42; 
    padding: 10px;
    
}
h1
{
 
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  margin-left: 2%;  
}

img{
      
    
} 

