body{
    margin: 0px;
}
header{
    display: flex;
    flex-direction: flex-start;
    font-family: inter bold;
    color: #EDF2F4;
    background-color:#2B2D42;

}
h1
{
 align-self: center;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  margin-left: 2%;  
}

img{
    padding-left: 1%;
    width: 5%;
    height: 5%;
}
