*{

    font-family: quicksand;
}

.inter {
    font-family: inter bold;
}

.DivContainer{
    display: grid;
    grid-template-columns: 50px repeat(2, 1fr) 2fr 50px; 
    grid-template-rows: repeat(2, 1fr);
     
}


