*{

    font-family: quicksand;
}

.inter {
    font-family: inter bold;
}

.DivContainer{
    display: grid;
    grid-template-columns: 50px repeat(2, 1fr) 2fr 50px; 
    grid-template-rows: repeat(2, 1fr);
     
}

nav {
    display: flex;
    justify-content: center;
    background-color: #8D99AE;
    padding: 1%;
    font-size: 130%;
}

nav a:link {
    color: #EDF2F4;
    
    
}

nav a:hover {
   color: #352D27; 
}



