.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  color: rgb(244, 244, 244);
}

.flex-item {
  width: 40%; 
  max-width: 400px; 
  margin: 10px;
  padding: 10px;
  background-color: #8D99AE;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.news-item h3 {
  margin-top: 0;
  font-size: 18px;
  font-weight: bold;
}


.news-item a:hover {
  text-decoration: underline;
  color: rgb(190, 190, 190);
}
@media (max-width: 1200px) {
  .GridContainer {
    display: grid;
    margin: 0;
    height: 90vh;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 25vh);
    gap: 10px;
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .flex-item {
    width: 80%; 
    max-width: none; 
  }
}

@media (max-width: 480px) {
  .GridContainer {
    grid-template-rows: repeat(8, 25vh);
  }
}