* {
    font-family: 'Quicksand', sans-serif;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #8D99AE;
    padding: 1%;
    font-size: 130%;
}

nav a:link {
    color: #EDF2F4;
    text-decoration: none;
}

nav a:hover {
    color: #352D27;
}

nav a:active {
  color: #352D27;
}

.FlexContainer {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-self: center;
    max-width: 100vw;
    max-height: 100vh;
    overflow: auto;
    padding: 1%;
    gap: 20px;
    
}

.VVD {    
    background-color: #EDF2F4;
    align-self: flex-start;
    max-width: 35%;
    max-height: auto;
    

    
}

.VVD img {
    max-width: 20%;
    max-height: 30%;
    width: auto;
    height: auto;
    padding: 1%;
}

.VVD p {
    padding: 1%;
}

.PVV {
    background-color: #EDF2F4;
    max-width: 35%;
    max-height: auto;
    align-self: flex-start;
}

.PVV img {
    max-width: 20%;
    max-height: 30%;
    width: auto;
    height: auto;
    padding: 1%;
}

.FVD{
    align-self: flex-end;
    background-color: #EDF2F4;
    max-width: 35%;
    max-height: auto;
}

.FVD img {
    max-width: 20%;
    max-height: 30%;
    width: auto;
    height: auto;
    padding: 1%;
}

.FVD p {
    padding: 1%;
}