* {
    font-family: 'Quicksand', sans-serif;
}


nav {
    display: flex;
    justify-content: center;
    background-color: #8D99AE;
    padding: 1%;
    font-size: 130%;
}

nav a:link, nav a:visited {
    color: #EDF2F4;
    text-decoration: none;
}

nav a:hover {
    color: #352D27;
}

nav a:active {
    color: #352D27;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 400px;
    gap: 20px;
    padding: 5%;
}

.flex-item {
    flex: 15%; /* Adjust the percentage as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    background-color: #EDF2F4;
    box-shadow: 1px 2px 5px;
    border-radius: 30px;
}

.flex-item img {
    max-width: 50%;
    height: auto;
}


  
