* {
    font-family: 'Quicksand', sans-serif;
   
}




.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 300px;
    gap: 20px;
    padding: 5%;
}

.flex-item {
    flex: 15%; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    background-color: #EDF2F4;
    box-shadow: 1px 2px 5px;
    border-radius: 30px;
    
}

.flex-item img {
    max-width: 30%;
    height: auto;
}
footer{
    position: fixed;
}

  
