body {
    background-image: url('../Logos/logo-tegels-achtergrond.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.DivStelling {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
}

.stellingen {
    background-color: #EDF2F4;
    border-radius: 15px;
    padding: 10px;
    max-width: 300px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(33.33% - 20px);
}

.stellingen .title {
    margin-bottom: 0;
    text-align: center;
}

.stellingen .vraag {
    display: block;
    margin-left: 20px;
    font-size: 16px;
    color: #2B2D42;
}

.stellingen:hover {
    cursor: pointer;
}
